#thumbs2 {
	width: 518px;
	height: 85px;
	overflow: hidden;
}

#thumbs3 {
	width: 518px;
	height: 265px;
	overflow: hidden;
}

#scroller {
	width: 1250px;
}

.content {
	width: 115px;
	height: 69px;
	float: left;
	margin-right: 11px;
	font-size: 0.8em;
}

.scrollNav, .scrollNav a:link, .scrollNav a:visited  {
  font-size: .8em;
  color:#00009C;
  font-weight: bold;
}


[if IE]>
<style type="text/css">

#scroller{
  width: 1482px; /* = width + margin left + margin right from the content rule + border*2 from the container rule*/
}

</style>
<! [endif]
